/* body {
  background-color: hsl(0, 0%, 14%);
} */

.downloadPage {
  height: 90vh;
}
.footer {
  background-color: hsl(0, 0%, 14%);
}
.hero {
  display: flex;
  flex-direction: column;
  background-image: url('./../imgs/fondo1.jpg');
  height: 100vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}
/* 
.homeSectionOne {
  background-image: url('./../imgs/fondo1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 1072px;
  width: 100%;
  background-position: center;
}
 */
.homeSectionThree {
  background-image: url('./../imgs/login3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-color: '#66999';
}

.loginPage {
  background-image: url('./../imgs/fondo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: '#66999';
}
