/* body {
  background-color: hsl(0, 0%, 14%);
} */

.downloadPage {
  height: 90vh;
}
.footer {
  background-color: hsl(0, 0%, 14%);
}
.homeSectionThree {
  background-image: url('./../imgs/login3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-color: '#66999';
}
.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  background: url(../imgs/fondo1.jpg) center / cover;
}
@media (max-width: 1024px) {
  .hero {
    background: url(../imgs/fondo1@2x.jpg) center / cover;
  }
}
@media (max-width: 768px) {
  .hero {
    background: url(../imgs/fondo1@3x.jpg) center / cover;
  }
}

.loginPage {
  background-image: url('./../imgs/fondo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: '#66999';
}
